{% extends 'base.html.twig' %}

{% block content %}
    <h2>Register</h2>
<div class="login-container">
    {{ form(registrationForm) }}
</div>
{% endblock %}

{% block title %}
    Register
{% endblock %}