@import "custom";
@import "~bootstrap/scss/bootstrap";

// Color Variables
$darkgrey: #3c3c3b;
$grey: #616160;
$lightgrey: #8b8b8c;
$yellow: #f3bc3c;

// Top Content of Website
body
{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $darkgrey;
}
.logo-nav
{
  margin-left: 25px;
  margin-bottom: 6px;
}
header
{
  height: 65px;
}
.main-nav
{
  background-color: white;
  word-spacing: 80px;
  border-bottom: solid $grey 6px;
  position:fixed;
  width: 100%;
  z-index: 100;
}
.first-link
{
  margin-left: 18%;
}
a
{
  text-decoration: none !important;
  color: black;
  font-weight: bold;
  font-size: 22px;
}
a:hover
{
  color: $yellow !important;
}
.top-container
{
  height: 90vh;
  width: 100%;
  background-image: url("../../public/img/picture_homepage_one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 20px;
}
h1
{
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 40vh;
  color: white;
}
.inside-top-container
{
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.inside-top-icon
{
  height:80px;
  width: 12.5%;
  display: flex;
  justify-content: center;
}
.school-logo
{
  margin-top: 12.5px;
}
.ted-logo
{
  margin-top: 15px;
}
// Bottom Content of Website
footer
{
  margin-top: 50px;
  border-top: solid $lightgrey;
  height: 260px;
  width: 100%;
  background-color: $grey;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
}
.footer-container
{
  height: 260px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-footer
{
  margin: auto;
}
.footer-container-middle
{
  height: 260px;
  width: 32%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color:white;
}
.foot-cont-left
{
  width: 10%;
  margin-top:110px;
}
.foot-cont-right
{
  width: 70%;
  margin-top:110px;
}
.footer-center-text-top
{
  width: 100%;
  margin: auto;
}
.footer-center-text-bot
{
  width: 100%;
  margin: auto;
}
.footer-container-right
{
  height: 260px;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-icon
{
  margin-top: 8px;
  margin-left: 40%;
}
// Homepage style
.top-hp-container
{
  width: 100%;
  height: 1100px;
}
.inside-top-hp
{
  width: 100%;
  height: 480px;
}
.top-point
{
  margin-top: 40px;
  width: 100%;
  height: 50px;
}
.ul-point
{
  color: $yellow;
  font-weight: bold;
  font-size: 21px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.mid-text
{
  width: 100%;
  height: 400px;
  display:flex;
  flex-direction: row;
}
.left-inside-top-hp
{
  height: 400px;
  width: 40%;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 85% 50%);
  clip-path: polygon(0% 0%, 0 100%, 85% 50%);
  background-color: $grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  overflow: hidden;
}
.point-info-container
{
  height: 80px;
  width: 80%;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.point-info
{
  color: white;
  font-weight: bold;
  font-size: 28px;
}
.right-inside-top-hp
{
  height: 400px;
  width: 60%;
  position:absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-hp-left-content
{
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 80%;
  text-align: justify;
}
.inside-bot-hp
{
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.side-blocks
{
  height: 280px;
  width: 20%;
  background-color: $grey;
}
.img-block
{
  height: 480px;
  width: 60%;
  background-image: url("../../public/img/membres-vinci-investments.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bot-hp-container
{
  width:100%;
  height: 650px;
  background-image: url("../../public/img/defense-toi-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-bot
{
  width: 100%;
  height: 650px;
  background-color: rgba(0,0,0,0.7);
}
h2
{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 60px;
}
.school-info
{
  margin-top: 20px;
  width: 100%;
  height: 355px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.esilv-container
{
  width: 45%;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.iim-container
{
  height: 355px;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emlv-container
{
  width: 45%;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.numbers
{
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color:rgba(255,255,255,0.8);
}
.span-p
{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color:rgba(255,255,255,0.8);
}
.perks-container
{
  width: 100%;
  height: 195px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.left-perk
{
  width: 30%;
  height: 140px;
  background-color:rgba(97,97,96, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-descr
{
  color: $yellow;
  font-weight: bold;
  font-size: 21px;
}
.right-perk
{
  width: 60%;
  height: 140px;
}
.perk-descr
{
  width: 90%;
  height: 140px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: justify;
}
// Team Style
h3
{
  color: $yellow;
  font-size: 22px;
}
.top-team
{
  width: 100%;
  height: 1250px;
}
.pres
{
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.info-role
{
  height: 350px;
  width: 22%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.role
{
  color: $lightgrey;
  font-weight: bold;
  font-size: 18px;
}
.vice-pres
{
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.bureau
{
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.bot-pole
{
  width: 100%;
  height: 1200px;
}
.info-block-top
{
  margin-top: 50px;
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.search
{
  background-color: $grey;
  width: 90%;
  height: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.inside-search-left
{
  width: 25%;
  height: 255px;
  color: $lightgrey;
  font-weight: bold;
  font-size: 38px;
  display:flex;
  align-items: center;
}
.inside-search-right
{
  width: 70%;
  height: 255px;
  display:flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.info-block-mid
{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}
.management
{
  background-color: $grey;
  width: 90%;
  height: 230px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.inside-mana-left
{
  width: 70%;
  height: 215px;
  display:flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.inside-mana-right
{
  width: 25%;
  height: 215px;
  color: $lightgrey;
  font-weight: bold;
  font-size: 38px;
  display:flex;
  align-items: center;
  text-align: right;
}
.info-block-bot
{
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.netevent
{
  background-color: $grey;
  width: 47%;
  height: 230px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.inside-net-left
{
  width: 30%;
  height: 215px;
  color: $lightgrey;
  font-weight: bold;
  font-size: 38px;
  display:flex;
  align-items: center;
}
.inside-net-right
{
  width: 65%;
  height: 215px;
  display:flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.inside-event-left
{
  width: 65%;
  height: 215px;
  display:flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.inside-event-right
{
  width: 30%;
  height: 215px;
  color: $lightgrey;
  font-weight: bold;
  font-size: 38px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.inside-finance-left
{
  width: 30%;
  height: 215px;
  color: $lightgrey;
  font-weight: bold;
  font-size: 38px;
  display:flex;
  align-items: center;
}
.inside-finance-right
{
  width: 65%;
  height: 215px;
  display:flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.inside-com-left
{
  width: 45%;
  height: 215px;
  display:flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.inside-com-right
{
  width: 50%;
  height: 215px;
  color: $lightgrey;
  font-weight: bold;
  font-size: 38px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
// Contact Style
.contactText
{
  height: 320px;
  width: 450px;
}
.find-container
{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.adress-block
{
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adress-icon
{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.adress-content
{
  color: white;
  font-weight: bold;
  font-size: 22px;
}
.contact-container
{
  width: 80%;
  height: 650px;
  margin:auto;
}
.contact-form
{
  width: 85%;
  height: 650px;
  background-color: $grey;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container
{
  width: 80%;
  height: 500px;
}
.global-form
{
  width: 100%;
  height: 450px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.left-form
{
  width: 48%;
  height: 430px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.right-form
{
  width: 48%;
  height: 430px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.submit-button
{
  display:flex;
  align-items: center;
  justify-content: center;
}
input[type=text]
{
  border: none;
  border-bottom: 2px solid white;
  background-color: $grey;
  width: 80%;
  font-size: 22px;
  color: white;
}
input[type=text]:focus, textarea:focus {
  background-color: $yellow;
  box-shadow: $darkgrey 0 0 2px 2px ;
}
textarea
{
  border: 2px solid white;
  background-color: $grey;
  width: 95%;
  height: 390px;
  font-size: 22px;
  color: white;
}
.button
{
  border: none;
  background-color: $yellow;
  border-radius: 6px;
  color: white;
  height: 60px;
  width: 60%;
  font-size: 22px;
}
.button:hover
{
  cursor:pointer;
  box-shadow: $darkgrey 0 0 2px 2px ;
}

// Blog Style
hr
{
  width: 100%;
  border: none;
  background-color: $lightgrey;
  height: 2px;

}
.article-h
{
  margin-bottom: 40px;
}
.blog-container
{
  width: 70%;
  min-height: 500px;
  margin:auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.article-container
{
  width: 80%;
  height: 350px;
  margin-bottom: 50px;
}
.title-info
{
  width: 100%;
  height: 90px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.article-date
{
  width: 20%;
  height: 90px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: $lightgrey solid 2px;
}
.article-title
{
  width: 78%;
  height: 90px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  margin-left: 10px;
}
.article-excerpt
{
  margin-top: 20px;
  width: 100%;
  height: 200px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.day-span
{
  color: $yellow;
  font-weight: bold;
  font-size: 55px;
}
.monthyear-span
{
  color: $yellow;
  font-weight: bold;
  font-size: 25px;
}
.article-button
{
  display: inline-block;
  border: none;
  background-color: $yellow;
  border-radius: 6px;
  color: white;
  height: 35px;
  width: 30%;
  font-size: 22px;
  text-align: center;
}
// show Style
.slug-article-container
{
  width: 70%;
  min-height: 1200px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article-main
{
  width: 560px;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-title
{
  margin-top: 25px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: $yellow;
  font-weight: bold;
  font-size: 68px;
}
.article-yt
{
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-content
{
  text-align: justify;
  margin-top: 25px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-size: 18px;
}
.empty
{
  height: 20px;
  width: 100%;
}
label
{
  color: $yellow;
  font-weight: bold;
  font-size: 22px;
}
.commentText
{
  width: 560px;
  height: 200px;
}
.comment-container
{
  width: 560px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.comment-block
{
  width: 560px;
  margin-top: 20px;
  border-bottom: solid 3px white;
}
h4
{
  color: $yellow;
  font-size: 14px;
  font-weight: bold;
}
.comment-section
{
  color:white;
  font-size: 16px;

}
// service style
.main-services
{
  width: 100%;
  height: 2200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.top-service
{
  width: 80%;
  margin:auto;
  height: 400px;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.inside-services
{
  width: 35%;
  height: 400px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: justify;
}
.top-separation
{
  height: 400px;
  width: 40%;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 85% 50%);
  clip-path: polygon(0% 0%, 0 100%, 85% 50%);
  background-color: $grey;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inside-sepa-top
{
  position: absolute;
  height: 60px;
  width: 70%;
  color: $yellow;
  font-weight: bold;
  font-size: 35px;

}
.mid-service
{
  height: 600px;
  width: 50%;
  position: absolute;
  margin-top: 200px;
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

}
.service-content
{
  text-align: justify;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.bot-separation
{
  height: 400px;
  width: 40%;
  -webkit-clip-path: polygon(15% 50%, 100% 100%, 100% 0);
  clip-path: polygon(15% 50%, 100% 100%, 100% 0);
  background-color: $grey;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  margin-top: 800px;
  right: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inside-sepa-bot
{
  position: absolute;
  height: 60px;
  width: 10%;
  color: $yellow;
  font-weight: bold;
  font-size: 35px;
}
.bot-service
{
  height: 600px;
  width: 50%;
  position: absolute;
  margin-top: 1000px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
// Login
.login-container
{
  width: 60%;
  margin-left: 25%;
}