{% extends 'base.html.twig' %}

{% block head %}
    {% block title %} Nous contacter{% endblock %}
    {{ parent() }}
{% endblock %}
{% block topcontent %}<h1>Contactez nous</h1>{% endblock %}
{% block content %}
    <h2>Nous trouver</h2>
    <div class="find-container">
        <div class="adress-block">
            <div class="adress-icon">
                <img src="{{ asset('img/email-filled-closed-envelope.png') }}" alt="mail" height="65px">
                <div class="adress-content">
                    vinciinvestments@gmail.com
                </div>
            </div>
        </div>
        <div class="adress-block">
            <div class="adress-icon">
                <img src="{{ asset('img/position.png') }}" alt="pos" height="65px">
                <div class="adress-content">
                    12 avenue Léonard de Vinci Courbevoie
                </div>
            </div>
        </div>
    </div>
    <h2>Nous contacter</h2>
    <div class="contact-container">
        <div class="contact-form">
            <form action="" class="form-container">
                <div class="global-form">
                    <div class="left-form">
                        <input type="text" name="name" placeholder="VOTRE NOM">
                        <input type="text" name="email" placeholder="VOTRE EMAIL">
                        <input type="text" name="subject" placeholder="SUJET">
                    </div>
                    <div class="right-form">
                        <textarea name="message" cols="30" rows="10" placeholder="VOTRE MESSAGE"></textarea>
                    </div>
                </div>
                <div class="submit-button">
                    <input type="submit" value="ENVOYER" class="button">
                </div>
            </form>
        </div>
    </div>
{% endblock %}


    {% block maintext %}Contactez-nous{% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}