{% extends 'base.html.twig' %}

{% block head %}
{% endblock %}
{% block topcontent %}<h1>Nos services</h1>{% endblock %}
{% block content %}
    <h2>Que faisons-nous?</h2>
    <div class="main-services">
        <div class="top-service">
            <div class="inside-services">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
            <div class="inside-services">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
        </div>
        <div class="top-separation">
            <div class="inside-sepa-top">
                Entreprises
            </div>
        </div>
        <div class="mid-service">
            <div class="service-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
            <div class="service-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
            <div class="service-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
        </div>
        <div class="bot-separation">
            <div class="inside-sepa-bot">
                Etudiants
            </div>
        </div>
        <div class="bot-service">
            <div class="service-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
            <div class="service-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
            <div class="service-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta tellus ac
                sapien facilisis, ut vulputate ante pretium. Nulla facilisi. Praesent interdum id nunc et rhoncus. Sed
                suscipit velit at eros mollis, a facilisis sem suscipit. Nunc aliquet dui magna, sit amet commodo odio
                luctus sed. Quisque sed lectus laoreet, varius nibh quis, feugiat metus. Duis aliquet dolor a facilisis
                fringilla. Donec sit amet metus nec mi elementum imperdiet. Donec feugiat augue tincidunt dui feugiat,
                vel porttitor arcu consequat. Suspendisse tincidunt ipsum ante, vel consequat diam scelerisque et.
            </div>
        </div>
    </div>
{% endblock %}



        {% block footer %}
            {{ parent() }}
        {% endblock %}



        {% block title %}
            Services
        {% endblock %}
